<div ng-controller="mainController" class="popup-box" id="qnimateCliente">
  <div class="popup-head">
    <div class="popup-head-left pull-left">{{user.nomeUsuario}}</div>
    <div class="popup-head-right pull-right">
      <div class="btn-group">
        <button class="chat-header-button" id="closeChat" ng-click="chat.sair()" type="button" aria-expanded="false">
						<i class="material-icons">close</i> 
				</button>
      </div>
		</div>
  </div>
      
	<div class="bodyGeneral">
		<!-- Message. Default to the left -->
	<button ng-click="chat.scrollBottom()" class="btn-scroll btn-floating btn-small  waves-effect  waves-light">
<!-- 		<span class="tagChat"></span> -->
		<i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
  <div class="popup-messages" id="popup-messagesBody">
    <div class="direct-chat-messages">
			<div class="alert alert-info" style="font-size: 0.8em" role="alert">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				<span class="sr-only">Bem-vindo!</span>
				Seja Bem-vindo ao nosso serviço de chat. Tire suas dúvidas por aqui ou envie um E-mail para contato@iaitapronto.com.br
			</div>
      <div class="direct-chat-msg doted-border" ng-repeat="mensagem in chat.listar()">
<!-- 				<div class="chat-box-single-line" ng-if="verifyChat() ? 'colorUser' : 'colorSupport'" >
					<abbr class="timestamp">{{mensagem.dataCadastro | configurarData: 'dia'}}</abbr>
				</div> -->
        <div class="direct-chat-info clearfix">
          <span class="direct-chat-name pull-left">{{mensagem.alias}}</span>
        </div>
        <!-- /.direct-chat-info -->
<!--         <img alt="message user image" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/005/0b3/123/319cbe7.jpg" class="direct-chat-img"> -->
				<span class="direct-chat-img">{{mensagem.alias | primeraLetra}}</span>
        <!-- /.direct-chat-img -->
        <div class="direct-chat-text">
          {{mensagem.mensagem}}
        </div>
        <div class="direct-chat-info clearfix">
          <span class="direct-chat-timestamp pull-right">{{mensagem.dataCadastro | configurarData}}</span>
        </div>
      </div>
			
      <!-- /.direct-chat-msg -->
			<div id="areaBeggin"></div>
    </div>
  </div>
  <div class="popup-messages-footer">
		<form ng-submit="chat.cadastrar(mensagem); texto=''">
			<div class="md-form form-bodyChat col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<textarea ng-enter="chat.cadastrar(mensagem); texto=''" ng-model="mensagem" class="md-textarea" id="status_message" placeholder="Digite sua mensagem..." rows="10" cols="40" name="message"></textarea>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<button prevent-default class="btn-small blue btn-chat  waves-effect  waves-light" type="submit"><i class="material-icons">send</i></button>
			</div>
		</form>
  </div>
	</div>
</div>
<div class="fixed-action-btn bodyFloatButton bodyChatButton" ng-controller="mainController" style="right: 90px;">
	<a class="btn btn-floating btn-large blue waves-effect" id="buttonChat"><i class="material-icons">chat</i></a>
</div>