<!--Double Navigation-->
  <header class="headerAdmin">

        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav admin-nav fixed custom-scrollbar">

            <!-- Logo -->
            <li>
                <div class="avatarArea logo-wrapper waves-light sn-avatar-wrapper">
                    <a href="#">
                        <img src="images/admin/avatar-admin.png" class="img-circle">
                    </a>
                    <a href="" class="nameUser">{{user.nome}}</a>
                </div>
            </li>
            <!--/. Logo -->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a href="#/admin" class="waves-effect arrow-r"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li><a href="#/users" class="waves-effect arrow-r"><i class="fa fa-users"></i> Usuários</a></li>
                </ul>
            </li>
            <!--/. Side navigation links -->

        </ul>
        <!--/. Sidebar navigation -->

        <!--Navbar-->
        <nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

            <!-- SideNav slide-out button -->
            <div class="pull-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>

            <!-- Breadcrumb-->
            <div class="breadcrumb-dn">
                <p ng-bind="$root.title">Início</p>
            </div>


            <ul class="nav navbar-nav pull-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Perfil</a>
                    <div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <a class="dropdown-item" href="#">Editar Perfil</a>
                        <a ng-click="logout();" class="dropdown-item" href="#">Sair</a>
                    </div>
                </li>
            </ul>

        </nav>
        <!--/.Navbar-->

    </header>
<main>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-b-2">
        <!--Card-->
        <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(7).jpg')">
        
            <!--Content-->
            <div class="white-text text-xs-center">
                <div class="card-block">
                    <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Controle</h5>
                    <h3>Usuários</h3>      
                    <canvas id="usuarios"></canvas>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-b-2">
        <!--Card-->
        <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(7).jpg')">
        
            <!--Content-->
            <div class="white-text text-xs-center">
                <div class="card-block">
                    <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Controle</h5>
                    <h3>Novos Usuários</h3>
                    <canvas id="novosCadastros"></canvas>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 m-b-2">
        <!--Card-->
        <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(7).jpg')">
        
            <!--Content-->
            <div class="white-text text-xs-center">
                <div class="card-block">
                    <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Controle</h5>
                    <h3>Empresas Cadastradas</h3>
                    <canvas id="empresasCadastradas"></canvas>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-b-2">
        <!--Card-->
        <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(7).jpg')">
        
            <!--Content-->
            <div class="white-text text-xs-center">
                <div class="card-block">
                    <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Controle</h5>
                    <h3>Projetos Cadastrados</h3>
                    <canvas id="projetosCadastrados"></canvas>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-b-2">
        <!--Card-->
        <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(7).jpg')">
        
            <!--Content-->
            <div class="white-text text-xs-center">
                <div class="card-block">
                    <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Controle</h5>
                    <h3>Tarefas Cadastradas</h3>
                    <canvas id="TarefasCadastradas"></canvas>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>
</div>
</main>