@import url(https://fonts.googleapis.com/css?family=Exo:400,900italic,900,800italic,800,700italic,700,400italic,500,500italic,600,600italic,300italic,300,200italic,200,100italic,100);
// Cores
// Principais
$main: #FF6D3D;
$secondary: #C54C24;
$tertiary: #FF9774;

// Tons de cinza
$gray: #ccc;
$dark_gray: #7e7e7e;
$big_dark_gray: #666;
$light_gray: #e8e8e8;
$body_gray: #e8e8e8;
$bg_gray: #F1F1F1;
$menu_gray: #f9f9f9;
$border_gray: #ddd;
// Cores de cabeÃ§alho
$heading_color: #B9B9B9;

// Cores nÃªutras
$white: #fff;
$medium_black: #333;
$black: #000;

// Cores de alerta
$warning_color: #a94442;
$warning_bg: #f2dede;
$warning_border: #ebccd1;

// Redes Sociais
$facebook_color: #578EE8;
$google_color: #F2766A;
// Fonts
$exo: 'Exo', sans-serif;

$thin: 100;
$extra-Light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-Bold: 600;
$bold: 700;
$extra-Bold: 800;
$ultra-Bold: 900;

// Tamanhos
$_1px: 0.063em;
$_2px: 0.125em;
$_3px: 0.188em;
$_4px: 0.250em;
$_5px: 0.313em;
$_6px: 0.375em;
$_7px: 0.438em;
$_8px: 0.500em;
$_9px: 0.563em;
$_10px: 0.625em;
$_11px: 0.688em;
$_12px: 0.750em;
$_13px: 0.813em;
$_14px: 0.875em;
$_15px: 0.938em;
$_16px: 1em;
$_17px: 1.063em;
$_18px: 1.125em;
$_19px: 1.188em;
$_20px: 1.250em;
$_30px: 1.875em;
$_40px: 2.500em;
$_50px: 3.125em;
$_60px: 3.750em;
$_70px: 4.375em;
$_80px: 5.000em;
$_90px: 5.625em;
$_100px: 6.250em;