<!-- Modal -->
<div ng-controller="mainController" class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="projectModalLabel">Novo Projeto</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="modalPreloaderBody hide-element">
          <div ng-include="'views/preloader.html'"></div>
          <h3>Aguarde um instante...</h3>
        </div>
        <form class="formUser formNewProject">
          <div class='form-group col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div class="bodyNewProject ">
              <input onclick="clearClientList();" type='text' class='form-control' id='projectTitle' placeholder='Título do Projeto'>
              <input type='hidden' id='userId' value='{{user.id}}'>
            </div>
          </div>
          <div class='form-group md-form col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <div class="bodyNewProject ">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <input onclick="clearClientList();" placeholder="Data de entrega" type="text" id="projectDate" class="form-control datepicker">
            </div>
          </div>
          <div class='form-group md-form col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <div class="bodyNewProject ">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <input onclick="clearClientList();" placeholder="Horário de entrega" type="text" id="projectTime" class="form-control timepicker">
            </div>
          </div>
          <div class='form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 areaRelative'>
            <div class="bodyNewProject ">
	            <select id="projectClient">
	            	<option class='form-control' disabled value="" selected>Selecione um cliente</option>
	            	<option class='form-control' value="0">Criar novo usuário</option>
	            	<option ng-repeat='client in clients' class='form-control' id='projectClient' value='{{client.id}}'>{{client.nome}}</option>
	            </select>
            </div>
          </div>
					<div class='form-group col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div class="bodyNewProject ">
							<input type='text' class='hide-element form-control' id='newClientHidden' placeholder='Novo Cliente'>
						</div>
					</div>
          <div class='form-group col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div class="bodyNewProject ">
              <textarea onclick="clearClientList();" type='text' id='projectDescription' rows="5" class='form-control md-textarea'>Descrição do Projeto</textarea>
            </div>
          </div>
        </form>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar Janela</button>
        <button ng-click="createNewProject();" type="button" class="btn btn-primary">Criar Projeto</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- /.Live preview-->
